
.explore :is(.section__subheader, .section__header) {
    text-align: center;
    margin-inline: auto;
  }
  
  .explore__bg {
    margin-top: 4rem;
    padding-block: 3rem;
    display: grid;
    grid-template-columns:
      minmax(1rem, 1fr)
      minmax(0, var(--max-width))
      minmax(1rem, 1fr);
    background-image: url('C:\Users\vishn\OneDrive\Desktop\Hotel_Management\client\public\explore.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
  }
  
  .explore__content {
    grid-column: 2/3;
    max-width: 400px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .explore__content p {
    margin-bottom: 0.5rem;
  }
  
  .explore__content h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--white);
  }
  
  .explore__content .btn {
    color: var(--primary-color);
    background-color: var(--white);
    border: 1px solid var(--primary-color);
  }
  
  .explore__content .btn:hover {
    color: var(--white);
    background-color: var(--primary-color);
  }
  